
  body {

  }
  h1 {
    color: black;
    text-align: center;
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  .page-header {
  min-height: 50px;
  background-color: #001F5F;
  }
  .page-header li a{
    color: #FFFFFF;
  }
.page-mainbody {
  background-image: url(Quraishy.png);
  background-size: 50%;
  min-height: 800px;
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: -800px;
  text-align: center;
  }

  .page-footer {
  min-height: 40px;
  background-color: #001F5F;
  }
  li {
    display: inline;
    padding-right: 15px;

  }
  ul a {
   text-decoration: none;
  }
  ul a:hover{
    text-decoration: underline;
  }
  .page-rightsidebar{
  width: 60px;
  min-height: 800px;
  float: right;
  background-color: #001F5F;
}
  .page-leftsidebar{
  width: 60px;
  min-height: 800px;
  background-color: #001F5F;
  }
  button {
    border-radius: 360px;
    width: 40px;
    height: 40px;
    background-color: #FB9300;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
  }
  ul {
    text-align: center;
  }
  .icon {

    height: 30px;
    width: 30px;
    display: inline;
  }
